
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html{
  background-color:#FFEDCB;
}

button{
  background-color: none;
  border: none;
  padding: none;
}

#pasarPantalla{
  position:relative;
  left:75%;
  top:25%;
  height: 25%;
}


#fondo {
    box-sizing:border-box;
    background-color: #FDE6D7;
    margin: none;
}

h6, input, form {
    font-size: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h6 {
    font-family: 'Harmattan', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Harmattan', sans-serif;
}

.container1 input {
    font-size: 1em;
    width: 70%;
    border-radius: 20px;
    border: none;
    background-color: #FFEDCB;
}

textarea:focus, input:focus {
    outline: none;
}

.formInside {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 2px solid black;
}

.container1 button, .container3 button, .overlay button {
    border-radius: 21px;
    width: 20%;
    padding: 15px 5px;
    font-size: large;
    border: 0px;
    background-color: #512F07;
}

.container1 button {
    margin-top: 5%;
}

#textWhite{
  color: #FFFFFF;
}

.pagina2 {
    display: flex;
    flex-direction: row;
    box-sizing:border-box;
}

#textLat0 {
    margin-left: 100px;
    font-size: 4em;
}

#textLat {
    margin-left: 200px;
    font-size: 4em;
}

.segundosTazasConsumidas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.segundos {
    background-color: #F1C1A2;
    padding: 10%;
    margin-right: 5%;
}

#mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 600px;
}

.mapa {
    margin-top: 100px;
}

    .mapa h2 {
        position: absolute;
        margin-left: 30px;
    }

.Xtazas {
    background-color: #F1C1A2;
    padding: 7%;
    margin-right: 5%;
}

.tazaNro {
    background-color: #F1C1A2;
    padding: 5%;
}

.pregunta1 {
    padding-top: 5%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h5 {
    font-family: 'Harmattan', sans-serif;
    font-size: 3em;
    margin: 0%;
}

.paisesPorcentajes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.DatosTomados {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popUp {
    background-color: #FFEDCB;
    width: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
}

.no-mostrar {
    display: none;
}

.container3 h1 {
    font-size: 3.5em;
}

.container3 h1 {
    font-size: 3.5em;
}


#pantalla3 {
    background-color: #F9DFBD;
}

.container3 h1 {
    margin: none;
}

.numerosPorcentaje {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 300px;
    top: 660px;
    gap: 210px;
}

.preg3raPantalla {
    margin-top: 200px;
    padding: 200px 0px;
    background-color: #FFEDCB;
}

    .preg3raPantalla h2 {
        font-weight: 500;
    }

.container3 h3 {
    font-size: 1.5em;
}

.container3 h2 {
    font-size: 2em;
}

#pantalla4, #pantalla5, #pantalla6, #pantalla7, #pantalla8, #pantalla9, #pantalla14, #pantalla15, #pantalla16 {
    background-color: rgb(176, 227, 255);
}


.container4, .container6, .container7 {
    width: 100%;
    height: 100%;
}

    .container4 h1, .container5 h1, .container6 h1 {
        text-align: center;
        font-size: 55px;
        padding-left: 10%;
    }

#solcito {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    float: right;
}

#fondoArboles {
    position: absolute;
    width: 99%;
    padding-top: 4%;
    height: 68%;
}

#boton1defo {
    position: relative;
    right: 5%;
    top: 5.4em;
    height: 70%;
}

#motosierra {
    position: relative;
    left: 15%;
    top: 10em;
}

#fondoTalado {
    position: absolute;
    width: 99%;
    padding-top: 24em;
    height: 10.5em;
}

.clickSemillas {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 21em;
    width: 100%;
    gap: 25%;
}

.circuloClick {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton2defo {
    position: relative;
    left: 42em;
    top: 17em;
    height: 13em;
}

#motosierra2 {
    position: relative;
    left: 57em;
    top: 20em;
    height: 12em;
}

#fondoTalado2 {
    position: absolute;
    width: 99%;
    padding-top: 17em;
}

#nube {
    position: absolute;
    left: 4em;
    top: 0.8em;
}

.container7 h3 {
    position: absolute;
    top: 8.5em;
    left: 6em;
    width: 20%;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

#botonConectaPantallas {
    position: relative;
    display: flex;
    padding-top: 5%;
    padding-left: 50%;
    font-size: 24px;
}

.popUpDefo {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 6em;
    bottom: 15em;
    border-radius: 3px solid white;
}


    .popUpDefo h3 {
        font-weight: lighter;
        font-size: 24px;
    }

.no-mostrar {
    display: none;
}

.container8 h3 {
    position: absolute;
    top: 5.5em;
    left: 6em;
    width: 20%;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

#nube2 {
    position: absolute;
    left: 4em;
    bottom: 17em;
}

#fondoFrutos {
    position: absolute;
    width: 99%;
    padding-top: 22em;
}

#fondoFrutos2 {
    position: absolute;
    width: 99%;
    padding-top: 16.5em;
    height: 18em;
}

#botonGuante {
    position: absolute;
    padding-top: 21em;
    height: 12em;
    left: 8em;
}

.container9 h1 {
    text-align: center;
    font-size: 55px;
    margin-left: 2.6em;
}

#bolsaFrutos {
    position: relative;
    left: 73.8em;
    top: 20.4em;
}

.popUpFrutos h3 {
    position: relative;
    left: 53em;
    top: 8em;
    width: 5em;
    font-size: 24px;
}

#secarGranos {
    position: absolute;
    width: 99%;
    top: 8.4em;
}

.container10 h1, .container11 h1, .container12 h1, .container14 h1, .container15 h1, .container16 h1, .container17 h1 {
    font-size: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
}


#circuGranos {
    position: relative;
    left: 68.3em;
    top: 4.2em;
    height: 11em;
}

#tuesteGranos {
    position: absolute;
    width: 99%;
    top: 9em;
    height: 80%;
}

#circuGranos2 {
    position: relative;
    left: 39.7em;
    top: 13em;
    height: 5em;
}

#tuesteGranos2 {
    position: absolute;
    width: 99%;
    bottom: 0.2em;
    height: 90%;
}

#circuGranos3 {
    background-color: none;
    position: relative;
    left: 23.9em;
    bottom: 0.5em;
    height: 2em;
}

/* CSS LUCHO*/

.hide {
    display: none;
}

.myDIV:hover + .hide {
    display: block;
}


/* CSS LUCHO*/

.container13 h1 {
    font-size: 55px;
    padding-left: 5%;
}

#etiquetaCJ {
    position: relative;
    left: 47%;
    top: 3.8em;
}

.overlay {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuOpciones{
  position: relative;
  padding-left: 14%;
  padding-right: 8%;

}

.popUpEtiquetaConvencional, .popUpEtiquetaOrganico, .popCafeNormal, .popCafeCJ {
    background-color: #FEEFDC;
    border: 5px solid #BCB1A3;
    border-radius: 47px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .popUpEtiquetaConvencional h3 {
        font-size: 36px;
        font-weight: lighter;
        margin-bottom: 30px;
    }

    .popUpEtiquetaConvencional h1 {
        font-size: 48px;
        margin: 0px;
    }

.imagenesNormas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

    .imagenesNormas img {
        height: 220px;
    }

.desaSos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .desaSos h4 {
        font-size: 28px;
    }

.popUpEtiquetaConvencional button, .popUpEtiquetaOrganico button {
    margin-bottom: 2%;
}

.no-mostrar {
    display: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

#pantalla14 {
    background-image: url("../img/fertilizarTierra.png");
    width: 100%;
    height: 30em;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tierra {
    padding-top: 34%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: bottom;
}


#fondoFinal {
    position: absolute;
    width: 99%;
}

.elegir {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 10em;
    gap: 6.5em;
    left: 53em;
}

.popCafeNormal, .popCafeCJ {
    padding-top: 5%;
}

    .popCafeNormal a, .popCafeCJ a {
        padding-top: 5%;
        padding-bottom: 5%;
    }

#bodyBack{
 
  background-image: url("../img/fondoArboles.png");

}

#fondo{
  background-color: #FDE6D7;
  margin: none;
}

h6, input,form{
  font-size: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h6{
  font-family: 'Harmattan', sans-serif;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Harmattan', sans-serif;
}

.container1 input{
  font-size: 1em;
  width: 70%;
  border-radius: 20px;
  border: none;
background-color: #FFEDCB;

}

textarea:focus, input:focus{
  outline: none;
}

.formInside{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 2px solid black;
}

.container1 button, .container3 button, .overlay button{
 border-radius: 21px; 
 width: 20%;
 padding: 15px 5px;
 font-size: large;
 border: 0px ;
 background-color: #512F07;
}

.container1 button{
  margin-top: 5%;
}

.pagina2{
  display: flex;
  flex-direction: row;
}

#textLat0{
  margin-left: 100px;
  font-size: 4em;
}

#textLat{
  margin-left: 200px;
  font-size: 4em;
}

.segundosTazasConsumidas{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.segundos{
background-color: #F1C1A2;
padding: 10%;
margin-right: 5%;
}

#mapa{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
width:100%;
height: 600px;
}

.mapa {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2em;
}

.mapa h2{

}

.Xtazas{
  background-color: #F1C1A2;
  padding: 7%;
  margin-right: 5%;
}

.tazaNro{
  background-color: #F1C1A2;
  padding: 5%;
}

.pregunta1{
  padding-top: 5%;
  display: block;
  justify-content:center;
  align-items:center;
  text-align: center;
}

h5{
  font-family: 'Harmattan', sans-serif;
  font-size: 3em;
margin: 0%;
}

.paisesPorcentajes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.DatosTomados{
  display: block;
  justify-content:center;
  align-items:center;
  text-align: center;
}

.popUp{
  background-color: #FFEDCB;
  width: 40%;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
}

.no-mostrar{
  display: none;
}

.container3 h1{
  font-size: 3.5em;
}


#pantalla3{
  background-color: #F9DFBD;
}

.container3 h1{
  margin: none;
}

.numerosPorcentaje{
  display: flex;
  flex-direction: row;
  position: absolute;
  left:26%;
  top: 660px;
  gap: 210px;
}

.preg3raPantalla{
  margin-top: 200px;
  padding: 100px 0px;
  background-color: #FFEDCB;
}

.preg3raPantalla h2{
  font-weight: 500;
}

.container3 h3{
  font-size: 1.5em;
}

.container3 h2{
  font-size: 2em;
}

#pantalla4, #pantalla5, #pantalla6, #pantalla7, #pantalla8, #pantalla9{
  background-color: rgb(176, 227, 255);
  
}
#pantallaEtiqueta{
  background-image: url("../img/etiqueta.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;

  background-size: cover;

}
#pantalla11{
  background-image: url("../img/tueste.png");
  width:100%;
  justify-content: center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#pantalla10{
  background-image: url("../img/elegir.png");
  width:100%;
  position:relative;
  bottom:100px;
  justify-content: center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#pantalla9{
  background-image: url("../img/cosecha.png");
  width:100%;
  height:100%;
  justify-content: center;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* padding-bottom: 60%; */
}
#pantalla7{
 
  background-image: url("../img/fondoTaladoSinSemillas.png");
  width:100%;
  height: 100%;


  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pantalla6{
  background-image: url("../img/fondoArboles.png");
  width:100%;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.container4, .container6, .container7{
  width: 100%;
  height: 100%;
}
.container4 h1, .container5 h1, .container6 h1{
text-align: center;
font-size: 55px;
padding-left: 10%;
}

#solcito{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
}

#fondoArboles{
  width: 100%;
  padding-top: 4%;
  height:100%;
}

.col20{
  width:20%;

}

#boton1defo{
  position: relative;
  right: 5%;
  top:5.4em;  
  height: 70%;
}

#motosierra{
  position: relative;
  left: 15%;
  top: 10em;
}

#fondoTalado{
  position: absolute;
  width: 99%;
  padding-top:24em;
  height: 10.5em;
}

.clickSemillas{
display: flex;
flex-direction: row;
position: relative;
justify-content: center;
align-items: center;
top: 21em;
width: 100%;
gap:25%;

}

.circuloClick{
  display: flex;
  justify-content: center;
  align-items: center;
}

#boton2defo{
  position: relative;

}

#motosierra2  {
  position: relative;
  left:50%;

}

#fondoTalado2{
  position: absolute;
width: 99%;
padding-top: 24em;
}

#nube{
  position: absolute;
  left: 4em;
  top: 0.8em;
}

.container7 h3{
  position: absolute;
  top: 8.5em;
  left: 6em;
  width: 20%;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

.popUpDefo{
  background-color: #eee5da;
  border-radius: 60px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45%;
  left: 45%;
  
 
}


.popUpDefo h3{
  font-weight:lighter;
  font-size: 24px;
}

.no-mostrar{
  display: none;
}

.container8 h3{
  position: absolute;
  top: 5.5em;
  left: 6em;
  width: 20%;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}

#nube2{
  position: absolute;
  left: 4em;
  bottom:17em;
}

#fondoFrutos{
  position: absolute;
width: 99%;
padding-top: 28.5em;
}

 #fondoFrutos2{
  position: absolute;
  width: 99%;
  padding-top:16.5em;
  height: 18em;
} 

#botonGuante{
  position: relative;
  height: 13em;
  left: 15em;
  top: 48em;
}

.container9 h1{
  text-align: center;
  font-size: 55px;
  margin-left: 2.6em;
}

#bolsaFrutos{
  position: relative;
  left: 73.8em;
  top: 20.4em;
}

.popUpFrutos h3{ 
  position: relative;
left: 5%;
width: 5em;
font-size: 24px;
bottom: 4em;
}

#secarGranos{
  position: absolute;
  width: 99%;
top: 8.4em;
}

.container10 h1, .container11 h1, .container12 h1{
font-size: 55px;
display: flex;
justify-content: center;
text-align: center;
}


#circuGranos{
  position: relative;
  left: 68.3em;
  top: 4.2em;
  height:11em;
}

#tuesteGranos{
  position: absolute;
  width: 99%;
top:9em;
height: 80%;
}

#circuGranos2{
  position: relative;
  left: 39.7em;
  top: 13em;
  height:5em;
}

#tuesteGranos2{
  position: absolute;
  width: 99%;
  bottom:0.2em;
height: 90%;
}

#circuGranos3{
  background-color: none;
  position: relative;
  left: 23.9em;
  bottom: 0.5em;
  height:2em;
}

/* CSS LUCHO*/

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;

}


/* CSS LUCHO*/

.container13{
  position:relative;
}

.container13 h1{
  font-size: 55px;
  padding-left: 5%;
}



#etiquetaCJ{
  position: absolute;
  top: 5.5em;
  left: 45%;
}

.overlay{
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popUpEtiquetaConvencional, .popUpEtiquetaOrganico{
  background-color: #FEEFDC;
  border: 5px solid #BCB1A3;
  border-radius: 47px;
  width: 80%;
display: flex;
flex-direction: column ;
justify-content: center;
align-items: center;
}

.popUpEtiquetaConvencional h3{
  font-size: 36px;
  font-weight: lighter;
  margin-bottom:30px;
}

.popUpEtiquetaConvencional h1{
  font-size: 48px;
  margin: 0px;
 }

 .imagenesNormas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15%;
 }

 .imagenesNormas img{
  height: 220px;
 }

 .desaSos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .desaSos h4{
font-size: 28px;
 }

 .popUpEtiquetaConvencional button, .popUpEtiquetaOrganico button{
  margin-bottom: 2%;
 }

 .no-mostrar{
  display: none;
 }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#pad1{
padding-left:10%;
padding-right:10%;

}

#pad2{
  padding-left:20%;
  padding-right:20%;
  
  }

  #pad3{
    padding-left:25%;
    padding-right:25%;
    
    }

    #centruli{
      text-align:center;
      justify-items: center;

    }

    #botones{
      border-radius: 21px;
    width: 20%;
    padding: 15px 5px;
    font-size: large;
    border: 0px;
    background-color: #512F07;
    }

    #gifGas{
      opacity: 25%;
    }

   .comercioPreguntaBolsas{
   background-image: url(../img/bolsasbien.gif);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   }

.comercioJusto{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

   .comercioPregunta2{
    left: 25%;
padding-top: 4%;
position: relative;
   }
#opcionesComercio1{
  position: relative;
bottom: 11.5em;
left: 3.5em;
}

#opcionesComercio2{
  position: relative;
  bottom: 19em;
  left: 8em;
}
#opcionesComercio3{
  position: relative;
  bottom: 18em;
  left: 13em;
}
#opcionesComercio4{
  position: relative;
bottom: 19em;
left: 23em;
}

#opciones1Comercio1{
  position: relative;
  left: 4em;
  bottom: 16.5em;
}

#opciones1Comercio2{
  position: relative;
left: 12em;
bottom: 17em;

}

#opciones1Comercio3{
  
  position: relative;
  left: 19em;
bottom: 16em;
}

#opciones1Comercio4{
  position: relative;
  left: 24em;
  bottom: 17em;
}

.botonesInfo1{
  position:relative;
  padding:20px;
}

#opciones2Comercio1{
  position: absolute;
bottom: 7em;
left: 3.5em;

}
#opciones2Comercio2{

  position: absolute;
bottom: 7em;
left: 21em;

}
#opciones2Comercio3{
  position: absolute;
bottom: 9em;
left: 36em;

}

#popDS0{
  position: absolute;
bottom: 10.5em;
}
#popDS2{
  position: absolute;
  bottom: 10.5em;
}
#popDS3{
  position: absolute;
  bottom: 10.5em;
 

}
#popDS4{
  position: absolute;
  bottom: 10.5em;

}

#popDH0{
  position: absolute;
bottom: 10em;
left: 35%;
}

#popDH2{
  position: absolute;
  bottom: 10em;
  left: 33%;
}

#popDH3{
  position: absolute;
  bottom: 10em;
  left: 33%;
}

#popDH4{
  position: absolute;
  bottom: 10em;
  left: 34%;
}

#popCO{
  position:absolute;
  top: 2.3em;
  left: -1em;
}

#popCO2{
  position:absolute;
  top: 2.3em;
  left: -1em;
}
#popCO3{
  position:absolute;
  top: 2.3em;
  left: -1em;
}

#imperioCompra{
  position: absolute;
  width: 100%;
  padding: 0;
  right:0px;
  height: 100%;
  bottom: 0.1;
}
#botonCompra{
  position: absolute;
right: 6em;
top: 33em;
}

#fondoOrganico{
  position: absolute;
  width: 100%;
  padding: 0;
  right: 0px;
  top:90%;
  
}
#organicoPadding{
  padding-left: 15%;
  padding-right: 1%;
}
#organicoPadding2
{
padding-left: 15%;
padding-right: 6%;
}

#idRelative{
  position:relative;
}

#idAbsolute{
  position:absolute;
}

#organicoBotones{
position:absolute;
top:80%;

}

#organicoBotones2{
  position:absolute;
  top:87%;
  
  }

  #organicoBotones3{
position:absolute;
top:80%;


  }
  #organicoPadding3{
    padding-left: 18%;
    padding-right: 6%;
    }
    

#pantallaOrganico {
  background-image: url("../img/fondoArbolesOrganico.png");
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cartelorga{
  position: absolute;
  right: 3em;
  top: 59%;

}